/* || General setup */

html, body {
  margin: 0;
  padding: 0;
  height : 100%;
   
}

html {
  font-size: 10px;
  background-color: #c5cfa1;
}

body {
  width: 100%;
  min-width: 700px;
  margin: 0 auto;
}

/* || typography */

  h3 {
  font-family: 'Verdana', cursive;
  color: #2a2a2a;
}

  input, li {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2a2a2a;
}

p{
  font-size:medium;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif , cursive;
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
  font-family: Verdana;
  color: #080c0b;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(189, 218, 122);
  color: black;
}

body > * {
  background-color: rgb(164, 173, 112);
  padding: 1%;
}

main, article, aside, footer, section {
  background-color: rgb(221, 236, 154);
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}

nav {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 70px;
  flex: 100%;
  display: flex;
  background-color: rgb(189, 218, 122);
  color: black;
}

nav ul {
  padding: 0;
  margin:0;
  list-style-type:none;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  margin-left:2px;
  float:left;
  display: inline;
  text-align: center;
  flex: 1;
}

  nav li:hover {
  background-color: rgb(108, 163, 71);
  border:2px solid;
  border-color:#696969 #DCDCDC #DCDCDC #696969;
}



nav a, nav span {
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 1.7;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding:5px;
  color: black;
}
/* || main layout */

main {
  display: flex;
}

article, section {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

footer {
  margin-top: 10px;
}

div {
  text-align: center;
}
